*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bground-color: #f1f5f9;
	--accent-color: #49a6e9;
}

#root {
	background-color: var(--bground-color);
	min-height: 100vh;
}

.navbar {
	position: fixed;
	padding: 1.8rem 2.5rem;
}

.navbar-btn {
	background-color: transparent;
	border: none;
	color: var(--accent-color);
	cursor: pointer;
}

.navbar-btn-icon {
	width: 40px;
	height: 32px;
}
